{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1 class="text-center" style="margin-top: 70px">Главная</h1>
<p class="text-center" style="color: gray">Вы находитесь на сайте, предназначенном для продажи
    товаров</p>

<div class="row text mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for prod in object_list %}
        <div class="col">
            <div class="card text-bg-info text-center h-100">
                <div class="card-header">
                    <h5>{{prod.name}}</h>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{prod.price}}</h2>
                    <p class="card-text">{{prod.description|truncatechars:100}}</p>

                </div>
                <div class="card-footer">
                    <div class="d-grid gap-1">
                        <a href="/contacts/" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
