{% extends 'catalog/base.html' %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
<h1 class="text-center mt-3">Товары</h1>


<div class="card text-bg-info text-center mb-1 mt-3 ">
    <img src='{{ product.image }}' class="card-img-top" style="width:100px">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Описание: {{ product.description }}</p>
        <p class="card-text"><small class="text-body-secondary">Категория: {{ product.category }}</small></p>
        <p class="card-text fs-3">Цена: {{ product.price }}</p>
    </div>
    <p class="card-footer"><small class="text-body-secondary">Карточка продукта создана: {{ product.created_at|date:'d M Y' }}.
        Карточка продукта обновлена: {{ product.updated_at|date:'d M Y' }}</small></p>
</div>
{% endblock %}
