{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ object.name }}</h1>
</div>


<div class="card text-bg-info text-center mb-1 mt-3 ">
    <img src='{{ object.image | blogs_media_filter }}' alt="{{ object.name }}" class="rounded mx-auto d-block mt-1" style="width:200px">
    <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text">Описание: {{ object.description }}</p>
        <a href="{% url 'catalog:product_category' object.category.pk %}"><small class="text-body-secondary">Категория: {{ object.category }}</small></a>
        <p class="card-text fs-3">Цена: {{ object.price }}$</p>
    </div>
    <p class="card-footer"><small class="text-body-secondary">Карточка продукта создана: {{ object.created_at|date:'d M Y' }}.
        Карточка продукта обновлена: {{ object.updated_at|date:'d M Y' }}</small></p>
    <div class="d-grid gap-2 d-md-flex mb-2 me-2 justify-content-md-end">
        {% if perms.catalog.can_unpublish_product %}
        <form action="{% url 'catalog:product_publish' object.pk %}" method="post">
            {% csrf_token %}
            {% if object.is_published %}
            <button class="btn btn-warning" type="submit">Опубликовано</button>
            {% else %}
            <button class="btn btn-light" type="submit">Не опубликовано</button>
            {% endif %}
        </form>
        {% endif %}
        {% if perms.catalog.change_product or user == object.owner %}
        <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-secondary" role="button"
           aria-disabled="true">Редактировать</a>
        {% endif%}
        {% if perms.catalog.delete_product or user == object.owner %}
        <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-danger" role="button" aria-disabled="true">Удалить</a>
        {% endif %}
    </div>
</div>
{% endblock %}
